
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 100%;

}

.tooltip {
    display: none;
    position: absolute;
    background-color: #222;
    padding: 7px 10px;
    max-width: 250px;
    color: #fff;
}

.tooltip-show {
    display: inherit;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.tooltip-down .tooltip-arrow {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222;
}

.tooltip-up .tooltip-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
}

.tooltip-right .tooltip-arrow {
    left: -5px;
    top: 50%;
    margin-top: -3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #222;
}

.tooltip-left .tooltip-arrow {
    right: -5px;
    top: 50%;
    margin-top: -3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #222;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 300px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}

.dd-search-box{
    background-color: rgba(41, 109, 173, 0.09);
    color: #080808;
}

.dd-btn{
    background-color: rgba(3, 111, 185, 0.41);
}

ul.dropdown-menu {
    background-color: rgba(3, 111, 185, 0.41);
}

ul.dropdown-menu a {
    background-color: rgba(3, 111, 185, 0.41);
}
ul.dropdown-menu a:hover  {
    background-color: rgba(25, 13, 185, 0.89);
    color: #ffffff;
}

.caret-custom{
    float:right;
    height:12px;
    margin-top:8px;
}

#notes-app {
    position: fixed;
    bottom: 0;
    width: 30%;
}

