<!--<ul class="dropdown-menu" id="">-->
    <!--<li><a ng-click="setSelectedDropdown({indicationName:''})">Select Indication</a></li>-->
    <!--<li ng-repeat="indication in indications | orderBy:indication.indicationName">-->
        <!--<a ng-click="setSelectedDropdown(indication)">{{indication.indicationName}}</a>-->
    <!--</li>-->
<!--</ul>-->
<div>
    <pre>hi</pre>
    <select id="country" ng-model="states" ng-options="country for (country, states) in countries">
        <option value=''>Select</option>
    </select>
</div>
